@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #0a1902;
  font-family: "Baloo Chettan 2", sans-serif, Arial;
}

body.menu-open {
  overflow-y: hidden;
}

.my-container {
  width: min(1120px, 100%);
  padding: 0 20px;
  margin: 0 auto;
}

.custom-link {
  outline: none;
  color: #0a1902;
  border-bottom: 1px solid #ffffff;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.custom-link:hover {
  opacity: 9;
}

.custom-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #59be29;
  transition: width 0.3s;
}

.custom-link:hover::after {
  width: 100%;
}

.primary-button {
  color: #fff;
  border: 1px solid #59be29;
  border-radius: 20px 80px;
  background-color: #59be29;
  padding: 6px 30px;
  transition: 150ms all;
}

.primary-button:hover {
  background-color: #53a72c;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2) inset;
}

.secondary-button {
  border-radius: 20px 80px;
  border: 1px solid rgba(89, 190, 41, 0.3);
  background: #fff;
  padding: 6px 30px;
  transition: box-shadow 0.3s ease;
}

.secondary-button:hover {
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2) inset;
}
